<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    {% if page.image.feature %}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:image" content="{{ site.url }}images/{{ page.image.feature }}">
    {% else %}<meta name="twitter:card" content="summary">
        <meta name="twitter:image" content="{% if page.image.thumb %}{{ site.url }}images/{{ page.image.thumb }}{% else %}{{ site.url }}{{ site.logo }}{% endif %}">
    {% endif %}
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="twitter:creator" content="@{{ site.owner.twitter }}">
    
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{% if page.title %}{{ page.title }} {% else %}{{ site.title }}{% endif %}">
    <meta property="og:description" content="{% if page.description %} {{ page.description }} {% else if page.excerpt %} {{page.excerpt| strip_html }} {%else%}{{ site.description }} {% endif %}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:site_name" content="{{ site.title }}">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
